#editorcontainer .page_view {
    padding-top: 0px;
}

.pageBreakComputed {
    background-color: #EEEEEE;
}

#innerdocbody {
  box-shadow: none;
  margin-top: 30px;
}

html, #outerdocbody {
  background-color: #EEEEEE !important;
}

#toc, .tocItem {
    width: 300px;
}
