#editorcontainer .page_view {
    padding-top: 0px;
}

.pageBreakComputed {
    background-color: #EEEEEE;
}

#innerdocbody {
  box-shadow: none;
  margin-top: 30px;
}

html, #outerdocbody {
  background-color: #EEEEEE !important;
}

#toc {
    width: 300px !important;
}

.tocItem {
    width: 280px;
}

#editbar {
    background: #fff;
}

.menu_left {
    margin-left: 30px;
}

.menu_left a {
    background: white !important;
    border: 1px solid white;
}
